@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?64i124');
    src:    url('fonts/icomoon.eot?64i124#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?64i124') format('truetype'),
    url('fonts/icomoon.woff?64i124') format('woff'),
    url('fonts/icomoon.svg?64i124#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.facebookIco .alert {
	font-size : 12px;
}
.alert{
	border-left: 5px solid;
}
.facebookIco{
    font-family: 'icomoon';
    font-size: 50px;
    color: #F50057;
	text-align: center;
}

.facebookIco span{
    font-size: 15px;
    color: black;
	float : left;
}

.facebookIco:hover{
      color: red;
}
.facebookIco:before {
    content: "\e900";
}

.logoutIcon {
	font-family: 'icomoon';
    font-size: 30px;
    color: #F50057;
	text-align: center;
	display: inline-block;
}

.logoutIcon:before {
    content: "\ea14";
}
.refreshIcon {
	font-family: 'icomoon';
    font-size: 30px;
    color: #F50057;
	text-align: center;
	display: inline-block;
}
.refreshIcon:before {
    content: "\e902";
}

*{
    margin:0;
    padding: 0px;
    box-sizing: border-box;
}


.my-app{
    position:relative;
    min-height: 100%;
}

content {
	top : 50px !important;
}

li{
    list-style: none;
}
.loader{
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 99;
}

header{
    background-color : #1b9edb;
    color : #ffffff;
    text-align : center;
    height:50px;
    font-size : 18px;
    top:0px;
    width:100%;
    line-height: 50px;
}
footer{
    background-color : #1b9edb;
    color : #ffffff;
    text-align : center;
    height:50px;
    font-size : 18px;
    position:fixed;
    bottom:0px;
    width:100%;
    line-height: 50px;
}
.containerLeft{
    margin-bottom: 80px;
}
#fbSrollWrapper {
	margin : 0px !important;
}

.modal-header .close {
	margin-top: 13px;
    margin-right: 12px;
}

#staticSrollWrapper{
	margin-right:0;
	margin-left:0;
}
#staticSrollWrapper {
	position: absolute;
	margin : 0px !important;
	border-right: 2px solid #26A69A;
	border-left: 2px solid #26A69A;
	border-bottom: 2px solid #26A69A;
	height: 180px;
	width: 100%;
	overflow-x: auto;
}

ul.horizontal-slide{
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 195px;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.horizontal-slide li{
    width:150px;
    height: 150px;
    position: relative;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    margin-right: 10px;
}
.horizontal-slide li img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.item{
width:150px;
    height: 150px;
}

.album-name{
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 30px;
}
/*.horizontal-slide li:hover .album-name {
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 30px;
}*/
.horizontal-slide li:hover .item{
    transition: all ease-in-out 0.3s;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1); /* Standard syntax */

}

/**
iSCroll css starts
**/

#fbSrollWrapper, #fbPhotoSrollWrapper ,#staticPhotoSrollWrapper, content{
	position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    
    height: 100%;
    margin: 0px;
}

#fbPhotoSrollWrapper {
	bottom : 40px !important;
}
.contentScroller {
		width : 100% !important;
}

.scroller , .contentScroller{
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width : auto;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.scroller ul , .contentScroller > div{
	list-style: none;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

/**
iscroll css ends
**/

/**
Modal View css
**/
.modal-content {
	height: 90%;
    margin: 5%;
    width: 90%;
	overflow: hidden;
	position : relative;
}
.modal-header {
	padding : 0px !important;
	font-size : 15px;
	background : #26A69A;
}

.modal-header h3 {
	font-size : 15px !important;
	color : #E3F2FD;
}

.modal-content .modal-header {
	border-bottom: 1px solid #e5e5e5;
	height: 44px;
	line-height: 44px;
	padding-left: 15px;
	text-align : center;
}

.modal-content .modal-body {
	    position: absolute;
    padding: 0px;
    width: 100%;
    bottom: 59px;
    top: 42px;
    overflow: auto;
}
.modal-backdrop{
	z-index:-1;
}

.modal-content .modal-footer {
	border-bottom: 1px solid #e5e5e5;
  height: 60px;
  padding: 10px 0 0 15px;
  position: fixed;
  bottom: 2;
}

/**
Modal View CSS
**/
/**
Album photos css
**/
.album-photos .item.selected {
	background : #76FF03;
}

.album-photos .item{
	display: inline-block;
    float: left;
    width: 150px;
    height: 150px;
    padding: 0px;
}

.album-photos img {
	width: 150px;
    height: 150px;
    padding: 4px;
}
/**
Album ohotos css
**/
.fbHeader {
	height: 60px;
    background: #26A69A;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 10px 0px 10px;
}

.fbHeader span {
	line-height: 52px;
    padding-left: 5px;
	color: #E3F2FD;
}

.fbHeader .profilePicture {
	border-radius : 50px;
	float : left;
}

.fRight {
	float : right;
}

.fLeft {
	float : left;
}

.mainContainer {
	margin: 20px;
    box-sizing: content-box !important;
	position : relative;
}
#staticSection{
	height: 230px;
}
.fbContainer {
	height: 245px;
    border-radius: 3px;
}
.containerHeader {
	background: #26A69A;
    text-align: center;
    padding: 10px;
    color: #E3F2FD;
    border-radius: 5px 5px 0px 0px;
}
#myCollage {
	bottom: 60px;
    position: absolute;
    top: 60px;
    overflow: auto;
}

.errorMessage, .facebookIco {
	-webkit-user-select : initial !important;
}
::-webkit-scrollbar { width: 4px; height: 4px;}

::-webkit-scrollbar-button {  background-color: #666; }

::-webkit-scrollbar-track {  background-color: #999;}

::-webkit-scrollbar-track-piece { background-color: #ffffff;}

::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}

/*::-webkit-scrollbar-corner { background-color: #999;}}*/

::-webkit-resizer { background-color: #666;}

